.Dpad {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 20vmin;
  height: 20vmin;
  text-align: center;
}

.Dpad > div {
  background: red;
}

.Dpad-vertical {
  width: 50%;
}

.Dpad-horizontal {
  height: 50%;
}
