.Gamepad {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: calc(100vh - 90vw - 48px);
  z-index: 1;
}

.Gamepad > * {
  position: absolute;
  text-align: center;
  text-indent: -25%;
  overflow: hidden;
}

.Gamepad-b {
  right: 25vw;
  bottom: 15vh;
  width: 15vmin;
  height: 15vmin;
  line-height: 20vmin;
  border-radius: 50%;
}

.Gamepad-a {
  right: 10vw;
  bottom: 20vh;
  width: 15vmin;
  height: 15vmin;
  line-height: 20vmin;
  border-radius: 50%;
}

.Gamepad-start {
  right: 30%;
  bottom: 5vh;
  width: 15vmin;
  height: 5vmin;
  text-indent: 0;
  line-height: 15vmin;
  border-radius: 50%;
  overflow: visible;
}

.Gamepad-select {
  bottom: 5vh;
  left: 30%;
  width: 15vmin;
  height: 5vmin;
  text-indent: 0;
  line-height: 15vmin;
  border-radius: 50%;
  overflow: visible;
}

.Gamepad-rewind {
  top: 2vh;
  right: 25vw;
  width: 10vmin;
  height: 10vmin;
  line-height: 18vmin;
  border-radius: 25%;
}
.Gamepad-fast-forward {
  top: 2vh;
  right: 10vw;
  width: 10vmin;
  height: 10vmin;
  line-height: 18vmin;
  border-radius: 25%;
}

.Gamepad-quick-menu {
  top: 2vh;
  right: 45vw;
  width: 10vmin;
  height: 10vmin;
  line-height: 18vmin;
  border-radius: 25%;
}

.Gamepad sup {
  font-family: 'Times New Roman', Times, serif;
}

.Gamepad-turbo {
  right: -0.75vmin;
  bottom: -0.75vmin;
  width: 5vmin;
  height: 5vmin;
  border-radius: 25%;
}
